*,*::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-primary: hsl(217, 19%, 35%);
    --text-secondary: hsl(214, 17%, 51%);
    --text-light: hsl(212, 23%, 69%);
    --text-light-grey: hsl(210, 46%, 95%);
}

body{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 13px;
    color: var(--text-secondary);
}













.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }